canvas {
  display: flex;
  width: 100%;
  height: 100%;
  background: #c8c8c8;
}
body {
  margin: 0;
  color: white;
  background: rgba(20, 20, 20, 1);
}
.button {
  list-style: none;
  width: 10%;
  line-height: 3%;
  height: 1%;
  padding: 1.5%;
  text-align: center;
  border-radius: 0;
  position: absolute;
  left: 43%;
  border: 1px solid white;
  font-family: "Copperplate Gothic";
  font-size: xx-large;
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0);
  outline: 2px solid;
  outline-color: rgba(255, 255, 255, 0);
  background: darkblue;
}
.button:hover {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px white;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 2%;
  text-shadow: white 1px 1px 2px;
}

.button-play {
  top: 90%;
}

.button-rules {
  top: 5%;
}

.button-start {
  top: 30%;
  visibility: hidden;
}

.button-back {
  top: 5%;
  visibility: hidden;
}

.player-name {
  position: absolute;
  text-align: center;
  font-family: "Copperplate Gothic";
  font-size: xx-large;
  font-weight: 400;
  top: 20%;
  left: 40%;
  width: 20%;
  background-color: white;
  border: 1px solid white;
  visibility: hidden;
}

.error-msg {
  position: absolute;
  text-align: center;
  font-family: "Copperplate Gothic";
  font-size: x-large;
  top: 25%;
  left: 40%;
  color: red;
  visibility: hidden;
}

.player-name:hover {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px white;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 2%;
  text-shadow: white 1px 1px 2px;
}

h1 {
  font-family: "Copperplate Gothic";
  font-size: xx-large;
  font-weight: 400;
}

h2 {
  font-family: "Arial";
  font-size: x-large;
  color: white;
  font-weight: 400;
}

.rules-para {
  position: absolute;
  top: 20%;
  left: 30%;
  font-family: "Copperplate Gothic";
  font-size: xx-large;
  font-weight: 400;
  visibility: hidden;
}

.img-cover {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

/* Game controls */

.question-area {
  position: absolute;
  text-align: center;
  width: 50%;
  height: 10%;
  top: 65%;
  left: 25%;
  font-family: "Arial";
  font-size: xx-large;
  font-weight: 100;
  background-color: rgba(20, 20, 20, 1);
  border: 1px solid aqua;
  border-radius: 5%;
}

.answer_area {
  position: absolute;
  text-align: left;
  width: 20%;
  height: 7%;
  font-family: "Arial";
  font-size: large;
  background-color: rgba(20, 20, 20, 1);
  border: 1px solid aqua;
  border-radius: 5%;
}
.answer_area-a {
  top: 80%;
  left: 25%;
}
.answer_area-b {
  top: 80%;
  left: 55%;
}
.answer_area-c {
  top: 90%;
  left: 25%;
}
.answer_area-d {
  top: 90%;
  left: 55%;
}

@media screen and (max-width: 992px) {
  .button {
    font-size: x-large;
  }

  .answer_area {
    font-size: x-large;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .button {
    font-size: large;
  }

  .answer_area {
    font-size: large;
  }
}
